* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3215_1119148 {
  width: 100%;
  height: 1973px;
  background: rgba(251,251,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3215_1119157 {
  width: 57px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 715px;
  left: 384px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
  transform: rotate(-90deg);
}
.v3215_1119161 {
  width: 188px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 466px;
  left: 370px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v3215_1119162 {
  width: 120px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 466px;
  left: 730px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v3215_1119163 {
  width: 660px;
  height: 369px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 730px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119164 {
  width: 99px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 727px;
  left: 745px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
  transform: rotate(-90deg);
}
.v3215_1119165 {
  width: 340px;
  height: 369px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 370px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119166 {
  width: 54px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 846px;
  left: 541px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
}
.v3215_1119167 {
  width: 24px;
  height: 246px;
  background: url("../images/v3215_1119167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 415px;
  overflow: hidden;
}
.v3215_1119168 {
  width: 24px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119169 {
  width: 24px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119170 {
  width: 24px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 92px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119171 {
  width: 24px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 138px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119172 {
  width: 24px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119173 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 230px;
  left: 17px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119174 {
  width: 242px;
  height: 242px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 449px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119181 {
  width: 242px;
  height: 242px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 804px;
  left: 449px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119188 {
  width: 242px;
  height: 243px;
  background: url("../images/v3215_1119188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 449px;
  overflow: hidden;
}
.v3215_1119189 {
  width: 242px;
  height: 243px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119191 {
  width: 79px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 530px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119200 {
  width: 270px;
  height: 34px;
  background: url("../images/v3215_1119200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 804px;
  left: 434px;
  overflow: hidden;
}
.v3215_1119201 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119203 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119204 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119206 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119207 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119209 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119210 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119212 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119213 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 192px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119215 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119216 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119218 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119219 {
  width: 99px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 846px;
  left: 1034px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 0.5;
  text-align: center;
}
.v3215_1119220 {
  width: 573px;
  height: 243px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 797px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119227 {
  width: 572px;
  height: 243px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 797px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119235 {
  width: 10px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 1078px;
  overflow: hidden;
}
.v3215_1119236 {
  width: 10px;
  height: 10px;
  background: rgba(101,223,220,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v3215_1119237 {
  width: 10px;
  height: 10px;
  background: rgba(101,163,222,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  border-radius: 50%;
}
.v3215_1119238 {
  width: 11px;
  height: 246px;
  background: url("../images/v3215_1119238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 776px;
  overflow: hidden;
}
.v3215_1119239 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 0px;
  left: 4px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119240 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 46px;
  left: 4px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119241 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 92px;
  left: 4px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119242 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 138px;
  left: 4px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119243 {
  width: 7px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 184px;
  left: 4px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119244 {
  width: 11px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 230px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v3215_1119245 {
  width: 600px;
  height: 34px;
  background: url("../images/v3215_1119245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 65px;
  opacity: 1;
  position: absolute;
  top: 804px;
  left: 782px;
  overflow: hidden;
}
.v3215_1119246 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119248 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119249 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119251 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119252 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 190px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119254 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119255 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 285px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119257 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119258 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 380px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119260 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119261 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 475px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119263 {
  width: 8px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v3215_1119264 {
  width: 30px;
  height: 34px;
  background: url("../images/v3215_1119264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119266 {
  width: 15px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 16px;
  left: 7px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119275 {
  width: 100%;
  height: 778px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1051px;
  left: 370px;
  border: 1px solid rgba(204,204,204,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119276 {
  width: 450px;
  height: 450px;
  background: url("../images/v3215_1119276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1101px;
  left: 420px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119277 {
  width: 450px;
  height: 450px;
  background: url("../images/v3215_1119277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1101px;
  left: 890px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119278 {
  width: 76px;
  height: 28px;
  background: rgba(30,40,83,1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1111px;
  left: 430px;
  overflow: hidden;
}
.v3215_1119279 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v3215_1119280 {
  width: 76px;
  height: 28px;
  background: rgba(30,40,83,1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1111px;
  left: 900px;
  overflow: hidden;
}
.v3215_1119281 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v3215_1119282 {
  width: 119px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 1601px;
  left: 420px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v3215_1119283 {
  width: 210px;
  height: 40px;
  background: url("../images/v3215_1119283.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1849px;
  left: 776px;
  overflow: hidden;
}
.v3215_1119284 {
  width: 100px;
  height: 40px;
  background: linear-gradient(rgba(255,255,255,1), rgba(248,248,248,1));
  padding: 5px 10px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3215_1119286 {
  width: 53px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.v3215_1119287 {
  width: 100px;
  height: 40px;
  background: linear-gradient(rgba(255,255,255,1), rgba(248,248,248,1));
  padding: 5px 10px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v3215_1119288 {
  width: 29px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 11px;
  left: 26px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119294 {
  width: 920px;
  height: 92px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1687px;
  left: 420px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3215_1119295 {
  width: 919px;
  height: 46px;
  background: url("../images/v3215_1119295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119298 {
  width: 919px;
  height: 46px;
  background: url("../images/v3215_1119298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3215_1119301 {
  width: 139px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1849px;
  left: 370px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4208_89156 {
  width: 100%;
  height: 64px;
  background: url("../images/v4208_89156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 370px;
  overflow: hidden;
}
.v3924_92509 {
  width: 100%;
  height: 64px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(204,204,204,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3924_92511 {
  width: 471px;
  height: 40px;
  background: url("../images/v3924_92511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v3924_92512 {
  width: 111px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v3924_92616 {
  width: 100%;
  height: 64px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 370px;
  border: 1px solid rgba(204,204,204,1);
  overflow: hidden;
}
.v3924_92617 {
  width: 481px;
  height: 40px;
  background: url("../images/v3924_92617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 979px;
  left: 390px;
  overflow: hidden;
}
.v3924_92618 {
  width: 121px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v3924_92623 {
  width: 131px;
  color: rgba(44,48,46,1);
  position: absolute;
  top: 926px;
  left: 370px;
  font-family: Cera Pro;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v4208_75275 {
  width: 134px;
  height: 36px;
  background: url("../images/v4208_75275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 981px;
  left: 1241px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3924_92620 {
  width: 100px;
  height: 36px;
  background: url("../images/v3924_92620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4208_89158 {
  width: 100%;
  height: 138px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 370px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
