.period_wrap {
    &.ant-form-horizontal {
        .ant-form-item-control {
            margin-left: 10px;
            width: 192px;
            .ant-calendar-picker-icon {
                display: none;
            }
        }  
    }
    .ant-form-item-label {
        
        label {
            width: 85px;
            color: #969897;
            &:after{
                display: none;
            }
        } 
    }
}

.vm_wrap {
    .db_tab {
        height: 50px;
        display: flex;
        span {
            display: flex;
            height: 100%;
            margin-right: 20px;
            align-items: center;
            cursor: pointer;
            &.on {
                border-bottom: 3px solid #0047B9;
            }
        }
        
    }
    .searchfilter_wrap {
        div.flex-row {
            border-bottom: none;
        }
    }
    .btn_cnt {
        margin-top: 20px;
        button {
            background-color: #f5f5f5;
            border-color: #ccc;
            padding: 8px 20px;
            height: auto;
            span {
                color: var(--fontlight2);
                font-family: var(--font-family-open_sans);
                font-size: var(--font-size-l2);
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}